{{ $file := .Get 0 }}
{{ $local := resources.Get $file }}
{{ $data := $local | transform.Unmarshal }}

<style>

	.paper-row {
		margin:0;
		padding: 0;
		margin-bottom: 1%;
	}

	.paper {
		width: 85%;
		display: inline-block;
		padding: 1%;
		margin-left: 1%;
		vertical-align: middle;
		border: solid white;
	}

	.paper:hover {

		width: 85%;
		display: inline-block;
		padding: 1%;
		margin-left: 1%;
		vertical-align: middle;
		border: solid orange;
		border-radius: 3%;

	}

</style>

<br>

<div>

	{{ range $paper := $data }}

	<div>

		<div class="paper">

			<div><strong>{{ print $paper.title }}</strong></div>
			<div>{{ print $paper.authors }}</div>

			{{ with $paper.journal }}

			<div style="padding: 2%"><strong>{{ print $paper.journal }}</strong> -  <a href="{{ $paper.url }}" target="_blank">{{ print $paper.url }}</a></div>

			{{ end }}

		</div>
	</div>

	{{ end }}

</div>


